name: Test Coverage

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.16

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Test
      run: go test -race -covermode=atomic -coverprofile ./cp.out
    
    - name: Codecov
      # You may pin to the exact commit or the version.
      # uses: codecov/codecov-action@7d5dfa54903bd909319c580a00535b483d1efcf3
      uses: codecov/codecov-action@v2.0.2
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./cp.out
